[Unit]
Description=gunicorn socket for Inicia Legal

[Socket]
ListenStream=/run/gunicorn-inicialegal.sock
SocketUser=www-data
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
